[submodule "third_party/ometa-js"]
	path = third_party/ometa-js
	url = git://github.com/slightlyoff/ometa-js.git
[submodule "third_party/mutation-summary"]
	path = third_party/mutation-summary
	url = https://code.google.com/p/mutation-summary/
[submodule "third_party/benchmarkjs"]
	path = third_party/benchmarkjs
	url = https://github.com/bestiejs/benchmark.js.git
